*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slider-container{
    width: 100%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    position:relative;
    cursor:grab;
    &:active{
        cursor: grabbing;
    }
    .slider{
        position:absolute;
        display: flex;
        width: auto;
        height: 100%;
        .slide{
            img {
                width:100%;
                object-fit: cover;
                height:100%;
            }
        }
    }
}

%nav-buttons{
    position: absolute;
    bottom: 0;
    width: 50%;
    border: none;
    transition: .5s ease;
    background: rgb(255,255,255);
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: grab;
    }
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}

.next{
    left: 50%;
    background: linear-gradient(-90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100% );
    @extend %nav-buttons;
  }

  .prev{
    background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    @extend %nav-buttons;
  }


.dots{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    input[type="radio"]{
        width: 20px;
        height: 20px;
        margin-left: 2.5px;
        margin-right:2.5px;
    }
}
  

// media queries
@media only screen and (max-width: 768px) {
    .next,.prev{
        display: none;
    }
  }
